/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* regular,medium,semibold
font-family: 'Nunito', sans-serif; */




@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  
  

font-family: 'Nunito';


}



@media (min-width: 576px) { 





  
 }




@media (min-width: 1400px) { 

  .loan-card {
    column-gap: 20px;
  }

  .loan-card-items {
    width: 500px;
  }

  .business-thrive {
    column-gap: 20px;
    justify-content: center;
  }
  .bus-thir {
    width: 200px;
  }



  .siting-img {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .siting-text {
    margin-top: 120px;
  }

.siting-text2 {
  order: 1;

}
.siting-img2{
width: 150px;
height: 250px;


}

  .circle-travel {
    border-radius: 150px;
    background-color: #5920c5;
    height: 200px;
    width: 200px;
    padding: 50px;
    margin: 40px;
  }
  .circle-dis {
    text-align: center;
    width: 230px;
    margin-left: 30px;
  }


  .teva-fil {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
  }



  .blue-stoo {
    justify-content: space-evenly;
  }
  .blog-story {
    width: 280px;
    padding: 10px;
    background-color: #5920c5;
    border-radius: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .card-img-top {
    border-radius: 20px;
    padding: 10px;
  }

 
 }







@media (max-width: 1399.98px) {
  .loan-card {
    column-gap: 20px;
  }

  .loan-card-items {
    width: 500px;
  }



  .business-thrive {
    column-gap: 20px;
    justify-content: center;
  }
  .bus-thir {
    width: 200px;
  }



  .siting-img {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .siting-text {
    margin-top: 120px;
  }

  .siting-text2 {
    order: 1;

    margin-top: 50px;
  
  }
  .siting-img2{
  width: 500px;
  height: 400px;
 
  
  
  }

  .circle-travel {
    border-radius: 150px;
    background-color: #5920c5;
    height: 200px;
    width: 200px;
    padding: 50px;
    margin: 40px;
  }
  .circle-dis {
    text-align: center;
    width: 230px;
    margin-left: 30px;
  }


  .teva-fil {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
  }



  .blue-stoo {
    justify-content: space-evenly;
  }
  .blog-story {
    width: 280px;
    padding: 10px;
    background-color: #5920c5;
    border-radius: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .card-img-top {
    border-radius: 20px;
    padding: 10px;
  }


}









@media (max-width: 991.98px) {
  .loan-card {
    column-gap: 20px;
    justify-content: center;
  }

  .loan-card-items {
    width: 160px;
  }



  .business-thrive {
    column-gap: 20px;
    justify-content: center;
  }
  .bus-thir {
    width: 160px;
  }



  .siting-img {
    width: 400px;
    height: 300px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .siting-text {
    margin-top: 120px;
  }



  .circle-travel {
    border-radius: 100px;
    background-color: #5920c5;
  }
  .circle-dis {
    justify-content: center;
  }



  .blue-stoo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .blog-story {
    padding: 10px;
    background-color: #5920c5;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
}









@media (max-width: 767.98px) {
  .loan-card {
    column-gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .loan-card-items {
    width: 200px;
    display: flex;
    margin-bottom: 20px;
  }



  .business-thrive {
    column-gap: 20px;
    margin-bottom: -150px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bus-thir {
    width: 160px;
    display: flex;
    margin-bottom: 110px;
  }



  .siting-text {
    margin-top: -100px;
    margin-bottom: 90px;
  }

  .siting-img {
    align-items: center;
    margin-top: 50px;
  }



  .total {
    flex-direction: column-reverse;
  }

  .total2 {
    flex-direction:column;
  }

  

  .blue-stoo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .blog-story {
    padding: 10px;
    background-color: #5920c5;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
.annual-turnover{
  margin-bottom: 30px;
  
}


}











@media (max-width: 575.98px) {
  .loan-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
  }
  .loan-card-items {
    width: 200px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }



  .business-thrive {
    display: flex;
    margin-bottom: -150px;
    justify-content: center;
  }
  .bus-thir {
    width: 200px;
    flex-wrap: wrap;

    margin-bottom: 120px;
  }
  .busni-thiri {
    font-size: 18px;
  }



  .tight {
    order: 1;
  }

  .siting-text {
    order: 2;
  
  }
.siting-img{
  width: 300px;
  height: 250px;
 
  
}

.siting-text2 {
  order: 1;

}
.siting-img2{
width: 300px;
height: 250px;


}

  .blue-stoo {
    flex-direction: row;
    justify-content: center;
  }


  .acc-ffaq{
    width: 200px;
  
  }


  

.signup-blog{
  width: 300px;
  flex-direction: row;
justify-content: center;
flex-wrap: wrap;



 
  
}
.foot-para{

  flex-direction: column;
  
}

}







